@font-face {
    font-family: FireSans;
    src: url("FiraSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

html {
    font-family: FireSans, Tahoma, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

.container {
    width: 90%;
    margin: auto;
}

header {
    background-color: gray;
    padding: 1rem;
    display: flex;
}

#logo {
    border-radius: 0;
    width: 150px;
    height: auto;
}

nav {
    background-color: gray;
    width: 90%;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: gray;
    padding: 0;
    margin: 0;
}

li {
    width: calc(100% / 3);
}

li a {
    background-color: dimgrey;
    color: whitesmoke;
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 3rem;
}

li a:hover {
    background-color: lightgrey;
    color: darkred;
}

main {
    background-color: darkgray;
    padding: 1rem;
    background-image: url(Animated_Shape.svg);
}

h1 {
    width: 100%;
    align-self: center;
}

article {
    display: flex;
}

#address {
    padding: 5px;
    display: flow;
    width: 40%;
}

#mapofhq {
    border-radius: 0;
    width: 50%;
    height: auto;
}


@media screen and (min-width: 769px) {
    .container {
        width: 80%;
    }
    li {
        width: 10rem;
    }
}
